{% if idPaymentTyId == -1 %}
	<p>{{webTextItems[106]}}{# The chosen payment type is unavailable, please contact #}&nbsp;<a href="/faq/query.asp?sectionid={{sectionid}}&guid={{guid}}">{{webTextItems[107]}}{# support #}</a></p>
{% else %}
	<form name="formAdd" id="frmIdPaymentTyAdd" method="post" action="{{postUrl}}">
		<input type="hidden" name="idPaymentTyId" value="{{idPaymentTyId}}">
		<input type="hidden" name="paymentTy" value="{{paymentTy}}">
		<input type="hidden" name="add_submit" value="submit">

		<input type="hidden" name="id" value="{{id}}">
		<input type="hidden" name="userId" value="{{userId}}">
		<input type="hidden" name="guid" value="{{guid}}">
		<input type="hidden" name="sectionId" value="{{sectionId}}">
		<input type="hidden" name="language" value="{{language}}">
		<input type="hidden" name="PID" value="0">
		<input type="hidden" name="ip" value="{{ip}}">

		<table  class="table table-bordered table-striped" style="width:600px;">
			{% for el in formElements %}
			<tr class="tableBodyBG">
				<td><div align="right">{{el['fieldLabel']}}:</div></td>
				<td>
				{% if el['fieldType'] == 'select' %}
					<select class="form-control" id="PID_{{el['fieldName']}}_{{idPaymentTyId}}" name="PID_{{el['fieldName']}}" >
					{% if el['fieldOptions']|length > 0 %}
						{% for options in el['fieldOptions'] %}
							<option value="{{options['value']}}" {{options['selected']}} >{{options['text']}}</option>
						{% endfor %}
					{% endif %}
					</select>
				{% elseif el['fieldType'] == 'select_expiry' %}
					<select class="form-control form-date" id="PID_{{el['fieldName']}}_{{idPaymentTyId}}_1" name="PID_{{el['fieldName']}}_1" data-error="#expiryerrNm1_{{idPaymentTyId}}"/>
					{% if el['fieldOptions'][0]|length > 0 %}
						{% for options in el['fieldOptions'][0] %}
							<option value="{{options['value']}}" {{options['selected']}} >{{options['text']}}</option>
						{% endfor %}
					{% endif %}
					</select>

					<select class="form-control form-date" id="PID_{{el['fieldName']}}_{{idPaymentTyId}}_2" name="PID_{{el['fieldName']}}_2" data-error="#expiryerrNm2_{{idPaymentTyId}}"/>
					{% if el['fieldOptions'][1]|length > 0 %}
						{% for options in el['fieldOptions'][1] %}
							<option value="{{options['value']}}" {{options['selected']}} >{{options['text']}}</option>
						{% endfor %}
					{% endif %}
					</select>
					<div><span id="expiryerrNm1_{{idPaymentTyId}}"></span></div>
					<div><span id="expiryerrNm2_{{idPaymentTyId}}"></span></div>
				{% elseif el['fieldType'] == 'stateselect' %}
					<select class="form-control" id="stateselect_{{el['fieldName']}}_{{idPaymentTyId}}" name="stateselect_{{el['fieldName']}}"></select>
					<input id="PID_{{el['fieldName']}}_{{idPaymentTyId}}" type="text" size="{{el['fieldLength']}}"  name="PID_{{el['fieldName']}}" onBlur="WidthTest(this,1);" value="{{el['fieldValue']}}"  style="display: none;" />
				{% else %}
					<input type="text" size="{{el['fieldLength']}}" name="PID_{{el['fieldName']}}" ID="{{el['fieldID']}}" value="{{el['fieldValue']}}" class="form-control" placeholder="{{el['fieldLabel']}}">
				{% endif %}
				</td>
			</tr>
			{% endfor %}

			<tr class="tableBodyBG">
				<td><div align="right">{{webTextItems[108]}}{# Default: #}</div></td>
				<td><input type="checkbox" name="chargeable" value="Y"></td>
			</tr>
			<tr class="tableBodyBG">
				<td>&nbsp;</td>
				<td><div align="right" id="addBtn">
				<input type="submit" name="addIdPaymentTy" id="addIdPaymentTy_submit"  value="{{webTextItems[129]}}" class="btn btn-primary">
				</div>
				</td>
			</tr>
		</table>
	</form>
{% endif %}

<script type="text/javascript">
	$(document).ready(function() {
		$("#frmIdPaymentTyAdd").validate({
			rules: {
				{% for ruleItem in  validationPaymentRule %}
					{{ruleItem['PaymentValueParamID']}}: { {{ruleItem['ruleTxt']}} },
				{% endfor %}
			},
			messages: {
				{% for msgItem in  validationPaymentRule %}
					{{msgItem['PaymentValueParamID']}}: "{{msgItem['requestMsg']}} ",
				{% endfor %}
			},
			errorPlacement: function(error, element) {
				var placement = $(element).data('error');
				if (placement) {
					$(placement).append(error)
				} else {
					error.insertAfter(element);
				}
			},
			submitHandler: function(form) {
				$.disableBtn_IDPaymentTy();
				$(form).addHiddenInput("requestType", "add");
				form.submit();
			}
		});

		$('#PID_1174_{{idPaymentTyId}}').setupCountryStateSelectors(0, '1174', '1172', '{{serveraName}}');
		$('#stateselect_1172_{{idPaymentTyId}}').changeStateIdAttributeValue('stateselect');
	});
 </script>
