{% if idPaymentTyId == -1 %}
	<p>{{webTextItems[106]}}{# The chosen payment type is unavailable, please contact #}&nbsp;<a href="/faq/query.asp?sectionid={{sectionid}}&guid={{guid}}">{{webTextItems[107]}}{# support #}</a></p>
{% else %}
	<legend>{{webTextItems[113]}}{# Payment Type: #}<span class="browsehd"><strong>{{paymentTitle}}</strong></span></legend>

	<div style="width:600px;">
		{% if cards|length > 0 %}
			{% for card in cards %}
				<form name="formEdit_{{idPaymentTyId}}_{{ card.id }}" id="frmIdPaymentTyEdit_{{idPaymentTyId}}_{{ card.id }}" method="post" action="{{postUrl}}">
					<input type="hidden" name="idPaymentTyId" value="{{idPaymentTyId}}">
					<input type="hidden" name="paymentTy" value="{{paymentTy}}">

					<input type="hidden" name="id" value="{{id}}">
					<input type="hidden" name="userId" value="{{userId}}">
					<input type="hidden" name="guid" value="{{guid}}">
					<input type="hidden" name="sectionId" value="{{sectionId}}">
					<input type="hidden" name="language" value="{{language}}">
					<input type="hidden" name="PID" value="0">
					<input type="hidden" name="ip" value="{{ip}}">
					<div class="panel-group">
						<div class="panel panel-info">
							<div class="panel-heading">
								<a data-toggle="collapse" href="#collapse_{{ card.id }}"><h4 class="panel-title"><strong>{{ card.brand }}:</strong>&nbsp;...&nbsp;...&nbsp;...&nbsp;{{ card.last4 }}</h4></a>
							</div>
							<div id="collapse_{{ card.id }}" class="panel-collapse collapse">
								<div class="panel-body">
									<div>
									{% for el in card.formElements %}
										{% if el['fieldValueTy'] != 36 and el['fieldValueTy'] != 38 %}
											<label>{{el['fieldLabel']}}:</label>
								 			<div class="form-group">
												{% if el['fieldType'] == 'select' %}
													<select class="form-control" id="PID_{{el['fieldName']}}_{{idPaymentTyId}}_{{ card.id }}" name="PID_{{el['fieldName']}}" >
													{% if el['fieldOptions']|length > 0 %}
														{% for options in el['fieldOptions'] %}
															<option value="{{options['value']}}" {{options['selected']}} >{{options['text']}}</option>
														{% endfor %}
													{% endif %}
													</select>
												{% elseif el['fieldType'] == 'select_expiry' %}
													<select class="form-control form-date" id="PID_{{el['fieldName']}}_{{idPaymentTyId}}_1_{{ card.id }}" name="PID_{{el['fieldName']}}_1" data-error="#expiryerrNm1_{{idPaymentTyId}}"/>
													{% if el['fieldOptions'][0]|length > 0 %}
														{% for options in el['fieldOptions'][0] %}
															<option value="{{options['value']}}" {{options['selected']}} >{{options['text']}}</option>
														{% endfor %}
													{% endif %}
													</select>

													<select class="form-control form-date" id="PID_{{el['fieldName']}}_{{idPaymentTyId}}_2_{{ card.id }}" name="PID_{{el['fieldName']}}_2" data-error="#expiryerrNm2_{{idPaymentTyId}}"/>
													{% if el['fieldOptions'][1]|length > 0 %}
														{% for options in el['fieldOptions'][1] %}
															<option value="{{options['value']}}" {{options['selected']}} >{{options['text']}}</option>
														{% endfor %}
													{% endif %}
													</select>
													<div><span id="expiryerrNm1_{{idPaymentTyId}}_{{ card.id }}"></span></div>
													<div><span id="expiryerrNm2_{{idPaymentTyId}}_{{ card.id }}"></span></div>
												{% elseif el['fieldType'] == 'stateselect' %}
													<select class="form-control" id="stateselect_{{el['fieldName']}}_{{idPaymentTyId}}_{{ card.id }}" name="stateselect_{{el['fieldName']}}"></select>
													<input id="PID_{{el['fieldName']}}_{{idPaymentTyId}}_{{ card.id }}" type="text" size="{{el['fieldLength']}}"  name="PID_{{el['fieldName']}}" onBlur="WidthTest(this,1);" value="{{el['fieldValue']}}" style="display: none;" />
												{% else %}
													<input type="text" size="{{el['fieldLength']}}" name="PID_{{el['fieldName']}}" ID="PID_{{el['fieldID']}}_{{ card.id }}" value="{{el['fieldValue']}}" class="form-control" placeholder="{{el['fieldLabel']}}">
												{% endif %}
											</div>
										{% endif %}
									{% endfor %}
									</div>
									<div class="pull-right">
										<input type="button" name="deleteCard_{{ card.id }}" id="deleteCard_{{idPaymentTyId}}_{{ card.id }}" value="{{webTextItems[115]}}" class="cancel btn btn-danger" />
										&nbsp;|&nbsp;
										<input type="button" name="updateCard_{{ card.id }}" id="updateCard_{{idPaymentTyId}}_{{ card.id }}" value="{{webTextItems[130]}}" class="btn btn-success" />
										<div id="dialog-confirm_{{idPaymentTyId}}_{{ card.id }}"></div>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</form>
			{% endfor %}
		{% else %}
			<div>This Stripe account has no cards registered...</div>
		{% endif %}
		<form name="formEdit_{{idPaymentTyId}}" id="frmIdPaymentTyEdit_{{idPaymentTyId}}_add" method="post" action="{{postUrl}}">
			<input type="hidden" name="idPaymentTyId" value="{{idPaymentTyId}}">
			<input type="hidden" name="paymentTy" value="{{paymentTy}}">

			<input type="hidden" name="id" value="{{id}}">
			<input type="hidden" name="userId" value="{{userId}}">
			<input type="hidden" name="guid" value="{{guid}}">
			<input type="hidden" name="sectionId" value="{{sectionId}}">
			<input type="hidden" name="language" value="{{language}}">
			<input type="hidden" name="PID" value="0">
			<input type="hidden" name="ip" value="{{ip}}">
			<div class="panel-group">
				<div class="panel panel-info">
					<div class="panel-heading">
						<a data-toggle="collapse" href="#collapse_add"><h4 class="panel-title"><strong>Add New Card</strong></h4></a>
					</div>
					<div id="collapse_add" class="panel-collapse collapse">
						<div class="panel-body">
							<div>
							{% for el in cardAdd.formElements %}
								<label>{{el['fieldLabel']}}:</label>
								<div class="form-group">
									{% if el['fieldType'] == 'select' %}
										<select class="form-control" id="PID_{{el['fieldName']}}_{{idPaymentTyId}}_add" name="PID_{{el['fieldName']}}" >
										{% if el['fieldOptions']|length > 0 %}
											{% for options in el['fieldOptions'] %}
												<option value="{{options['value']}}" {{options['selected']}} >{{options['text']}}</option>
											{% endfor %}
										{% endif %}
										</select>
									{% elseif el['fieldType'] == 'select_expiry' %}
										<select class="form-control form-date" id="PID_{{el['fieldName']}}_{{idPaymentTyId}}_1_add" name="PID_{{el['fieldName']}}_1" data-error="#expiryerrNm1_{{idPaymentTyId}}"/>
										{% if el['fieldOptions'][0]|length > 0 %}
											{% for options in el['fieldOptions'][0] %}
												<option value="{{options['value']}}" {{options['selected']}} >{{options['text']}}</option>
											{% endfor %}
										{% endif %}
										</select>

										<select class="form-control form-date" id="PID_{{el['fieldName']}}_{{idPaymentTyId}}_2_add" name="PID_{{el['fieldName']}}_2" data-error="#expiryerrNm2_{{idPaymentTyId}}"/>
										{% if el['fieldOptions'][1]|length > 0 %}
											{% for options in el['fieldOptions'][1] %}
												<option value="{{options['value']}}" {{options['selected']}} >{{options['text']}}</option>
											{% endfor %}
										{% endif %}
										</select>
										<div><span id="expiryerrNm1_{{idPaymentTyId}}_add"></span></div>
										<div><span id="expiryerrNm2_{{idPaymentTyId}}_add"></span></div>
									{% elseif el['fieldType'] == 'stateselect' %}
										<select class="form-control" id="stateselect_{{el['fieldName']}}_{{idPaymentTyId}}_add" name="stateselect_{{el['fieldName']}}"></select>
										<input id="PID_{{el['fieldName']}}_{{idPaymentTyId}}_add" type="text" size="{{el['fieldLength']}}"  name="PID_{{el['fieldName']}}" onBlur="WidthTest(this,1);" value="{{el['fieldValue']}}" style="display: none;" />
									{% else %}
										<input type="text" size="{{el['fieldLength']}}" name="PID_{{el['fieldName']}}" id="PID_{{el['fieldName']}}_{{idPaymentTyId}}_add" value="{{el['fieldValue']}}" class="form-control" placeholder="{{el['fieldLabel']}}" />
									{% endif %}
								</div>
							{% endfor %}
							</div>
							<div class="pull-right">
								<input type="button" name="createCard_{{idPaymentTyId}}" id="createCard_{{idPaymentTyId}}" value="{{webTextItems[129]}}" class="btn btn-primary" />
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
		</form>

		<div align="right">
			<form name="formEdit_{{idPaymentTyId}}" id="frmIdPaymentTyEdit_{{idPaymentTyId}}" method="post" action="{{postUrl}}">
				<input type="hidden" name="idPaymentTyId" value="{{idPaymentTyId}}">
				<input type="hidden" name="paymentTy" value="{{paymentTy}}">

				<input type="hidden" name="id" value="{{id}}">
				<input type="hidden" name="userId" value="{{userId}}">
				<input type="hidden" name="guid" value="{{guid}}">
				<input type="hidden" name="sectionId" value="{{sectionId}}">
				<input type="hidden" name="language" value="{{language}}">
				<input type="hidden" name="PID" value="0">
				<input type="hidden" name="ip" value="{{ip}}">
			</form>
		</div>
	</div>
{% endif %}

<script type="text/javascript">
	$(document).ready(function() {
		$("[id^=frmIdPaymentTyEdit_{{idPaymentTyId}}_card_]").validate({
			rules: {
				{% for ruleItem in  validationPaymentRule %}
					{{ruleItem['PaymentValueParamID']}}: { {{ruleItem['ruleTxt']}} },
				{% endfor %}
			},
			messages: {
				{% for msgItem in  validationPaymentRule %}
					{{msgItem['PaymentValueParamID']}}: "{{msgItem['requestMsg']}} ",
				{% endfor %}
			},
			errorPlacement: function(error, element) {
				var placement = $(element).data('error');
				if (placement) {
					$(placement).append(error)
				} else {
					error.insertAfter(element);
				}
			}
		});

		$("[id^=PID_1174_{{idPaymentTyId}}_]").each(function() {
            $(this).setupCountryStateSelectors(0, '1174', '1172', '{{serveraName}}');
        });
		$("[id^=stateselect_1172_{{idPaymentTyId}}_]").each(function() {
            $(this).changeStateIdAttributeValue('stateselect');
        });

		$("#deleteIdPaymentTy_submit_{{idPaymentTyId}}").click(function(){
			var formObj =  $("#frmIdPaymentTyEdit_{{idPaymentTyId}}");
			$("#dialog-confirm_{{idPaymentTyId}}").openConfirmDialog(formObj, '{{webTextItems[127]}}', '{{webTextItems[128]}}', 'delete');
		});

		$("[id^=updateCard_{{idPaymentTyId}}_]").click(function(){
			cardId = ($(this).attr("id")).replace("updateCard_{{idPaymentTyId}}_","");
			if ($("#frmIdPaymentTyEdit_{{idPaymentTyId}}_"+cardId).valid() == true) {
				$.disableBtn_IDPaymentTy();
				$("#frmIdPaymentTyEdit_{{idPaymentTyId}}_"+cardId).addHiddenInput("requestType", "updateCard");
				$("#frmIdPaymentTyEdit_{{idPaymentTyId}}_"+cardId).addHiddenInput("cardId", cardId);
				$("#frmIdPaymentTyEdit_{{idPaymentTyId}}_"+cardId).submit();
			}
		});

		$("[id^=deleteCard_{{idPaymentTyId}}_]").click(function(){
			cardId = ($(this).attr("id")).replace("deleteCard_{{idPaymentTyId}}_","");
			$("#frmIdPaymentTyEdit_{{idPaymentTyId}}_"+cardId).addHiddenInput("cardId", cardId);
			$("#dialog-confirm_{{idPaymentTyId}}_"+cardId).openConfirmDialog($("#frmIdPaymentTyEdit_{{idPaymentTyId}}_"+cardId), '{{webTextItems[127]}}', '{{webTextItems[128]}}', 'deleteCard');
		});

		$("#createCard_{{idPaymentTyId}}").click(function(){
			if ($("#frmIdPaymentTyEdit_{{idPaymentTyId}}_add").valid() == true) {
				$.disableBtn_IDPaymentTy();
				$("#frmIdPaymentTyEdit_{{idPaymentTyId}}_add").addHiddenInput("requestType", "createCard");
				$("#frmIdPaymentTyEdit_{{idPaymentTyId}}_add").submit();
			}
		});
	});
</script>
