{% if (isAutoshipResult == true) %}
	<h4>{{webTextItems[168]}}</h4> {#  Autoship Registration Complete #}
	<div class="alert alert-info">
	{{webTextItems[169]}} <br> {# Your autoship registration was completed successfully.#}
	</div>
{% else %}
	<div class="alert alert-success">
		{{webTextItems[9]}}{# Your credit card transaction has been #}
		<strong>{{webTextItems[10]}}</strong>{#  Approved. #}
		<br />
		<a href="/admin/showinvoice.asp?guid={{guid}}&x1={{orderNum}}&sectionid=0" target="_blank">{{webTextItems[4]}}{# Your #}         {{webTextItems[5]}}{# order number is :#} {{orderNum}}</a>
	</div>
{% endif %}
