   <form name="payment" method="post" action="{{postUrl}}" class="form-horizontal" role="form" id="frmPayment_{{paymentTy}}">
      <input type="hidden" name="id"          value="{{id}}">
      <input type="hidden" name="userId"      value="{{userId}}">
      <input type="hidden" name="guid"        value="{{guid}}">
      <input type="hidden" name="sectionId"   value="{{sectionId}}">
      <input type="hidden" name="total" 		value="{{total}}">
      <input type="hidden" name="serviceFee" 	value="{{serviceFee}}">
      <input type="hidden" name="orderNum" 	value="{{orderNum}}">
      <input type="hidden" name="currencyTy" 	value="{{currencyTy}}">
      <input type="hidden" name="paymentTy" 	value="{{paymentTy}}">
      <input type="hidden" name="language" 	value="{{language}}">
      <input type="hidden" name="orderDate" 	value="{{orderDate}}">
      <input type="hidden" name="PID" 		value="0">
      <input type="hidden" name="ip" 			value="{{ip}}">

		<div class="panel panel-default">
			<div class="panel-heading">
				{% if Language == 2 %}
					{{paymentTitle}} {{payByText}}
				{% else %}
					{{payByText}} {{paymentTitle}}
				{% endif %}
			</div>
			<div class="panel-body">
				{% if serviceFee > 0 %}
					<div class="alert alert-info">{{webTextItems[28]}}:&nbsp;{{curSymbolOrder}}{{formatServiceFee}}</div>
				{% endif %}
				
				<div class="alert alert-info">
				{% if serviceFee > 0 %}
					{{webTextItems[197]}} {{webTextItems[28]}}:&nbsp;{{curSymbolOrder}}{{formatServiceFee}}
					<br>
				{% endif %}
					{{webTextItems[198]}} {{curSymbolOrder}}{{formatTotalPay}}
				</div>
				
				{% if customer %}
               {% for card in customer.sources.data %}
                  {% if card.id == customer.default_source %}
               <p>
                        <strong>Card Brand:</strong> {{ card.brand }}<br />
                        <strong>Card Number:</strong> XXXX XXXX XXXX {{ card.last4 }}
               </p>
                  {% endif %}
               {% endfor %}
               <input type="hidden" name="idPaymentTyId" value="{{idPaymentTyId}}" />
               <input type="submit" name="payment_submit" id="payment_submit{{paymentTy}}" value="{{btnDesc}}" class="btn btn-primary pull-right"/>
            {% else %}
   				<div class="pull-right">
   					{% if isSubscription == 'yes' %}
   						<script
   							src="https://checkout.stripe.com/checkout.js" class="stripe-button"
   							data-key="{{pubKey}}"
   							data-name="{{dataName}}"
                        	data-description="{{dataDescription}}"
   							data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
   							data-locale="auto"
	   						data-currency="{{orderResult.currencyCode}}"
   							data-zip-code="true"
   							data-panel-label="Subscribe"
   							data-label="Register card for Subscription">
   						</script>
   					{% else %}
	   					<script
	   						src="https://checkout.stripe.com/checkout.js" class="stripe-button"
	   						data-key="{{pubKey}}"
	   						data-amount="{{totalCents}}"
	   						data-name="{{dataName}}"
	   						data-description="{{dataDescription}}"
	   						data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
	   						data-locale="auto"
	   						data-currency="{{currencyCode}}"
	   						data-zip-code="true">
	   					</script>
	   				{% endif %}
   				</div>
               <input type="hidden" name="payment_submit" id="payment_submit{{paymentTy}}" value="{{btnDesc}}" class="btn btn-primary pull-right"/>
            {% endif %}
			</div>
		</div>
	</form>
